<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="startMinMenuItem" value="true" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/3/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA/+vP5jCyAAGGU6aGY/6D4DZB/5PnVIHFTd2yjicxARhGzlJ30qEsg2c2PfDxPWc3vLD2DpOAIIc0E1gAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA/+vP5jCyAAFmhmP+g+AWQf+T51SBxcvz+nkhLEBBbDMVzwAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA/+vP5jCyAAEc24kuGhmPOo/AOIAxadOqQOLi7S2uDS/SmICsf0i/F2UbiWC2bvnqrtcWn6EBcYGAOtJOmtUAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA/+vP5jCyAAE905Zu2pmPOo/AOIAxadOqQOL73AJdm1+lcQEVpP1zkXpViKYzdjg5XJp+REWGBsAz/KW61QAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA/+vP5jCyAAEc248cNHMeNR/AMQBik+dUgcWF2llcW1+lcQEYvtFnHdRupUIZu+eu9zl0vIjLDA2AEpMYX9UAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZACDZY5Cjo/6D4DZB/5PnVIHFedwbH6VxARhdzgq3UqEsvc5su6HiZ9xfMwPY69yBABCmVJOYAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZACDFEchx0f9B8DsA/+nTqmDiu9waH6VxARhBzgq3UqEsic5su6HiS9yfMwPY89xBADgjFGNYAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZACDDkchx0f9B8DsA/+nTqmDis9zbH6VxARhT3BUupUIZa9wZN0PE9/h+Jgfxt7nCADflAnCYAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZAADAQchx0f9B8DsA/+nTqmDih+wb36VxARhz3BQupUIZT9wYN0PE3/h8Jgfxp7gAACMrea4YAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZAACG0t+JyHHR/0HQByg+KrddWDxGxlBjnmHk5hA7B9zgxxNGCHsGYLBjp+nQ9g7HgU5PuaHsk8GOQIAG0QJ8GAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZAAChzAVVyHHR/0HQByg+KrddWDxBaFxrnmHk5hAbAXfOFcTRgh7gVWc6+fpUHGnONfH/FC2W5wrACNjBlVgAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZACChuDtLkKOj/oPgDhA8VW76yDiK9lc8g4nMYHZp9lcTBihbFF2l8/ToezvbC6P+aHs52wuAMLNUlZgAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZACDBlchx0f9B8DsA/9X7a6Di1fkdHLC2AC1odNYPAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAOP2nzLRZ/sNDwaGA//fsU9lZACDBgchx0f9B8DsA/+nTqmDijMw9E7u5ISxAStXzHg8AAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAJNqmT7RZ/sNDwaGA/8FFCcxMgBBLnui0yf1p/0HQByg+PEr1WBxzZoAp7LDSUwgtn6ssJM+I4Qt836X49vpEPanSbscmc0h7PXHdzgCAAHZRs1gAAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAJNqmT7RZ/sNDwaGA//bP01lZACBR4xO1WEP+w+AOQf+fzGoB4s7HFngnOqVwgRm/3nlzLY5EcxmaNjt7MCbDGF/uOTM+DkNzG64X+IMACRPVPNgAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAJNqmT7RZ/sNDwaGA//P75jPyAAEDX/YXYwnXO8/AOIAxSVEWsDiDHryTpleKUxg9iZOJ5bNiRC2l4uTOW8yhM2l6vT/UxqE7XLUEQCpB4KkYAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOPj6Zvos/2GBwPDgf8Xi0snHmAAgQP/D6fJM4FY34usnS7PSAKzb7TZOM29mwhmm720dnIzhojP8LZy6j4JYZ+6ZekEADZG4wpUAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOPj6Zvos/2GBwPDgf8Xi0snHmAAgQP/D6fJM4FYF269c7g8IwnMjrD64DD3biKYXVP43sHNGCJekPTWofskhL3p0hsHAMqJf+dUAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOPj6Zvos/2GBwPDgf8Xi0snHmAAgQP/D6fJM4FYU7LZHS/PSAKzL+xmc5x7NxHMtlNgd3QzhogfUedw7D4JYS/O53AEAFQ6ks1UAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEADMR75jos/2GBwPDgf89j5MnHmAAgQP/H702YwKxPv8673h5RhKY/W5FuuPcu4lg9o21YY5uxhDxiAP9jt0nIeyg7w2OAJc2iFNUAAAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEADMR75jos/2GBwPDgf89j5MnHmAAgQP/H702YwKx3n2a6nh5RhKYffTcOoe5dxPBbCOeQw5uxhDxWnt9x+6TEDaDg6kjAHT3PWRUAAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEADMR75jos/2GBwPDgf89j5MnHmAAgQP/H702YwKxQgrbHS/PSAKzs/9+cph7NxHMlhI45OBmDBHvi5R37D4JYf8QVnIEAP+S21NUAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEADMR75jos/2GBwPDgf89j5MnHmAAgQP/H702YwIzC/idLs9IgrAX7HOcezcRKr7W0c0YIm74Z7Nj90kIW+T2OkcAl/S9qVQAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEADMR75jos/2GBwPDgf89j5MnHmAAgQP/H702YwKx1Hcdcbw8IwnM3mn+1mHu3UQw+1HALwc3Y4i4SHSnY/dJCFtatskRAMKnx1NUAAAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEADMR75jos/2GBwPDgf89j5MnHmAAgQP/H702YwKxUqK1nS7PSAKz37xhd5p7NxHMZqhgcnIzhoivseFy6j4JYfdNuegIAEo83iNUAAAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEADMR75jos/2GBwPDgf89j5MnHmAAgQP/H702YwKx6nU6HC/PSAKzGRo4HefeTQSzuS1POLgZQ8RvnPRy7D4JYado6TsCAIQVQjdUAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPsY2zPRZ/sNDwaGA///CJdMPMAAAgf+by1RYgIzH/Q5XZ6RBGEfaHWaezcRym52cjOGiic0O3WfhLIf1DsBAAQYu3NUAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPsY2zPRZ/sNDwaGA///CJdMPMAAAgf+by1RYgIzGZqdLs9IgrAdap3m3k2Eitc4uRlDxRtqnbpPwtixTgABvcwCVAAAAA==" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAONv7Znos/2GBwPDgf8MIiUTDzCAwIH/k32VmECsO4c9nS7PSAKz363Qd5p7NxHMntGp4+RmDBH/bGHp1H0Swu7ltXACAFUM/A9UAAAA" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAONv7Znos/2GBwPDgf8MIiUTDzCAwIH/k32VmECseddfOF6ekQRmiztsdZx7NxHMnvJxraObMUT8ie9Zx+6TEPZB9mOOACntPJxUAAAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEANNZ0zPRZ/sNDwaGA//FrEsmHmAAgQP/E/4rMoFYJ4TqHC7PSAKz5y6zc5h7NxHMFjIzcnAzhohrbo516D4JYW9blu0AAN50aUVUAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEANNZ0zPRZ/sNDwaGA//FrEsmHmAAgQP/E/4rMoFY07TaXS/PSAKzZ31qd517NxHMnv+mw9XNGCI+W6XDtfskhL0woNMVAJYjmDFUAAAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHO63DPRZ/sNDwaGA/+5rUsmHmAAgQP/Q28oMoFYK04kO1yekQRmtzUqOMy9mwhmT18q6uBmDBH38bBy6D4JYfvvdHMAAA4gK6BUAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHO63DPRZ/sNDwaGA/+5rUsmHmAAgQP/Q28oMoFYpXENrpdnJIHZFWqNrnPvJoLZO6aUuboZQ8SrXBpdu09C2Lt5yl0BR01ndVQAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAHO63DPRZ/sNDwaGA/8dOksmHmAAgQP/FboUmUCsPP7tDpdnJIHZVgsmOcy9mwhm95dPcHAzhohH9s126D4JYRsJzHQAAEI1VNtUAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAHO63DPRZ/sNDwaGA/8dOksmHmAAgQP/FboUmUCsaVrtrpdnJIHZsz61u869mwhmz3/T4epmDBGvcml07T4JYTcUNLkCAEKSj+JUAAAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAHO63DPRZ/sNDwaGA/8dOksmHmAAgQP/FboUmUAstd3THS7PSAKz5WKsHebeTQSzM+6ZOLgZQ8Rtalscuk9C2OsfdTgAAGH0x0RUAAAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAHO63DPRZ/sNDwaGA/8dOksmHmAAgQP/FboUmUCs8jMNrpdnJIHZFTKNrnPvJoLZdWJNrm7GEPEql0bX7pMQ9tkdVa4A59Ul9FQAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAIv91TPRZ/sNDwaGA/9tO0smHmAAgQP/OZIVmUAs4dAXDpdnJIHZ3rMeOcy9mwhm27jdcXAzhojH/H3i0H0SwvZav8UBABFGwUZUAAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAIv91TPRZ/sNDwaGA/9tO0smHmAAgQP/OZIVmUCsmQfaXS/PSIKz595NBLPrFJpc3Ywh4rNVOly7T0LYZ3ZUuQIAxD1qlFQAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAIv91TPRZ/sNDwaGA//LrpdMPMAAAgf+nxdRZAKx9BeVOVyekQRmZ7CrOsy9mwhm/wyTdHAzhohfSvRw6D4JYa+eGeAAAIJMr4BUAAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAIv91TPRZ/sNDwaGA//LrpdMPMAAAgf+nxdRZAKxKh40uF6ekQRhf2lwnXs3EczeMaXM1c0YIj5bpcO1+ySEfWZHlSsAR9dIUlQAAAA=" />
  </appSettings>
</configuration>