<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAFv31DTDdvsND4Yf6o550olMDCAgUeaoshTK5vB35GhIgrAVvB0PeUPZD7QdV/2DsgVUHG82Q9kdAo6XJ0H1OsyxfzI3GcqWcXhdkw5hN1jbM66DqmH4ZbctCKqGocpu+YxEOLv5M9RMIGg/vI8Fxl77JQmu5rb7ndmMYPaB/6vrZkGYBVMc/C7eFWSAiscdrhCFsS3z5kHUREg45kSuYIWJz/87EWrMLYdLCxMg5msoOGrZrRGGqWFsmwlRY+HuuC7F2BIm3nphoTqMXbFqGkRNQpZjmv9mAZh4+PGqQBj7+/k5EDUGnxy+FB6VgYmvfoAQz3fmlICJsy6AmvlgtUNlVYgsTJz5F9QvwDiK37EWrt7c4ylcTeHhGRA1H4IcjS8acMDE/QUnwu36libSDRP/Nv2gMTeUfX7HfLCahj/sLgBhG/FlKAIAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAJvKZJhhu/2GB8M2I6dY6UQmBiBo+C3jrL0Uyk6Od+ZqSAKzGa41O4XGQ9lX1jqKv4ay7/x31GmBso+wOfXshOhlKBBx3DYvGcI2meeoWpMOYTdYO3xvg6qxcHecWwhVw/DLXv1ODIR94Jb9q/dJMPX24t/iYWrsNkxNhosv+gJV4zDH/jXzw9mMEM3/LXZMgDClzjgdnP5ckAEqHne4QhTG1ts0E6LmV5VTuehaVph4uVQvRHzyYqfZixIg5ju2O3UqbBSGqXmwaApEzZwHjufdLSxh4q0XFqrD2CHHJ0LU5K906jLaIQATDz9eFQhj+72fDlHzdorT3KBTMjDxqSozoO73cWr9zysBE58lPAki3tfv9IQtUhYmfkdsFkTc5ahj2+xNcPXmHk/hajLYoW4WUHGy6TXlgInr6vVAxLced5LwkuyGiX+bftCYG8pu/zQVouYRoxMAJXcP2jQCAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAAv8oZ1hu/2Gx2chPafH9xKZGIDA+8wVxzvbksDs4hWXHPdwQdgHuy44zrsCYd9bcskx/yZE/Xr3S44aLRBxg7mXHD+GQtix/JcdZbdA2Aqt5x1fFULYZxQvOB79D9H7q+6CoyFUzbaOC47bt0LE7+w871hWBxEP6zvvqC8JYbOEnXdceA7CfhN4wfFyNIT9uOqCY8Kep7MZQRyGA//VmnvBTEaHy46Xz7wSZICKxx2uEIWxda71g9UUXLrsWPlxGytMPD+uAyx+adElxzomiPk9ay45rqvZIgxT0/JjAliNWluQk/Yna0uYeOuFheowttukPrAaT8XLjjPSdwvAxMOPVwXC2NxJEDd8B4bzg/uXZGDiTrcngcV/XL7seMNDWAIm7pgJMTN08RVH240xsjDxf28g7tEruuyYcnQ3XL25x1O4mm/rIHrr5AOd1j214oCJ28xsB4ubFF925Lwv2w1XP/2gMTeULaAIcU8ue6ITAEZtqGU0AgAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAONo1s6w3X7DgwEIiqtU1RigoP7qo9mMYNaB/zITJzDCxH8/fS7IABU3n1MhCmOL7Z0EV7Nqx1ZWmLj39E64eDZTEhOMndWwSRim5oX0ZLgav0lWljBxzeiF6jB2nAPCDVJLdgnAxPfcqQyEsdUFJsLVxMpckoGJH5mHMH9tsaAETLw1FWHm/rQoWZh4kgBC/duqnXD1nvlP4WoqfiL0NgtYcsDVuCP8yxYh0w0TN40/YMwNZb9jnwpV0+AAAG/vp+uAAQAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAONo1s6w3X7Dg4GhwbW4SlWNAQwaXOuvPprNCGYf+C8zcQIjTPz30+eCDFBx8zkVojC22N5JcDWTJ25lhYkn7euEi2czJTHB2FkNm4Rhal5IT4ar8ZtkZQkT14xeqA5jxzkg3CC1ZJcATHzPncpAGFtdYCJcTazMJRmY+JF5CPPXFgtKwMRbUxFm7k+LkoW7WQCh/m3VTrh6z/yncDUVPxF6mwUsOeBq3BH+ZYuQ6YaJm8YfMOaGst+xT4WrAQDgDntKgAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAONo1s6w3X7DY8HiJy6P7iUyMQDBAq0nLt/uJkHYhs9dFj6Gii985TL/CkT8QcQrl5KbEHGFSc9d7FZDxBUuPXe5rgdhF4i/dMnbBlU/+6nL7Hwo2/Oxy6H/EL0PKp66eN+Gii9+7PJpAlT8xiMX08VQ8VWPXMwkoWz3hy4Ny6Fsl4cu96Oh7MkPXeqvPprNCOIwHPgvM3ECmJkQ9djl99PnggxQcfM5FaIwttjeSRA1mx+6TJ64lRUmnrSvEyK++6FLNhPE/IS2hy5ZDZuEYWpeSE8Gq/nQ/MDFb5KVJUxcM3qhOowd5wBxw4K5j1ykluwSgInvuVMZCGOrC0wEq3kw9YFLrMwlGZj4kXkQ8x/4PHZZWywoARNvTYWY+UD4icv+tChZuJsFIOoXSD9yeVu1E67ewOMpXM1EBYhdC1jvuzQLWHLAxD3dIf5dcOquC1uETDdM3DT+gDE3lP2OfSpYTUPwdhcA3do1iTQCAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAONo1s6w3X7Dw2Adr+uje4lMDECw4RWv67e7SWC2QTqP68LHEHGD9Vyu869AxCdc5nItuQkR/2DG42q3GiL+QYzH9boehO1Rwu2atw3CFjDidZ2dD2VH87ke+g/RO8GZ19X7NlRcj8/10wSo+GQ+V9PFULtW8bmaSULVxPC7NiyHisfyu96Phoqb8bvWX300mxHEYTjwX2biBDDzQhCf6++nzwUZoOLmcypEYWyxvZPAagLU+F0nT9zKChNP2tcJEVfid81mgph/wYbfNathkzBMzQvpyWA1HPv4Xf0mWVnCxDWjF6rD2HEOEDcYbORzlVqySwAmvudOZSCMrS4wEaxGYCu/a6zMJRmY+JF5EPMnRPK5ri0WlICJt6ZCzBT4xuu6Py1KFu5mAYh6g098rm+rdsLVG3g8hauZqACxy6BWwLVZwJIDJu7pDvHvBilBV7YImW6YuGn8AWNuKPsd+1SwGocwFVcAy5Px/DQCAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAONo1s6w3X7D4+p8I6dH9xKZGIDA19HI6dvdJDD76DwTp4WPIeKufuZO869AxPNFzZ1KbkLENV+ZONmthohrypg6XdeDsAOkzJzytkHYxxONnWbnQ9jbJxo6HfoP0ZvvZuzkfRsizn7D0OnTBKi4paGT6WKIeL2ooZOZJIStzmDg1LAcwj7/V9/pfjSE3W5t4FR/9dFsRhCH4cB/mYkTwMzZ8wydfj99LsgAFTefUyEKY4vtnQRWoxxi4DR54lZWmHjSvk6weHKUgVM2E8T83wYGTlkNm4Rhal5ITwarEU7Xd/KbZGUJE9eMXqgOY8c5QNygym3oJLVklwBMfM+dykAYW11gIliNeKm+U6zMJRmY+JF5EPP5pxg6rS0WlICJt6ZCzGzXN3LanxYlC3ezAET91KUGTm+rdsLVG3g8hauZqACxK9VGz6lZwJIDJu7pDvGvr5uuE1uETDdM3DT+gDE3lP2OfSpYjY0lvxMAGAtgATQCAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAONo1s6w3X7Dg4GBwf7RvUQmBjAwcLi1LQnKZnDYywVjH7CffwXBLrkJU7/AXqslCc5+HQpjN9jnIcxhmJ2PYB/6D9PbYGe6Ba7ejmNHIlzNqf2dnDB2/dVHsxkh9v5ny5rACDNfkPeFINQ9/83nVIjC2GJ7JzHC3Dl54lZWmHjSvk643mwmhDuzGjYJw9S8kJ4MU2PnN8nKEiauGb1QHcaOc4C54YG91JJdAjDxPXcqA2FsdYGJcLtiZS7JwMSPzIOZz+CwtlhQAibemgozk8F+f1qULNzNAnD32F8J3glX75n/FK6m5CdcL8MCc0sOuBr3Tng4sEXIdMPETeMPGHND2e/Yp0LVCDgAAJUUqU4QAgAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAONo1s6w3X7Dg4FhkuOje4lMDGCwxvHWtiQo+5jjXi4Y+4Tj/CsIdslNmPoDjlotSXD261AYe5djHtycHY4ps4WEYez6q49mM0LU/2fLmgBhMuxzFOR9IQg157/5nApRGFts7ySomj2OkyduZYWJJ+3rhItnMyHckNWwSRim5oX0ZKiaBEe/SVaWMHHN6IXqMHacwwS4OVJLdgnAxPfcqQyEsdUFJjLCzI+VuSQDEz8ybzLc/WuLBSVg4q2pCH/tT4uShbtZAKZ+i+OV4J1w9Z75T+FqSn7C9BY4LjC35ICrcYf5d5cjW4RMN0zcNP6AMTeU/Y59KlRNhyMA8qYDTuABAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAONo1s6w3X7Dg4HhhsOje4lMDGAwzfHWtiQoe47jXi4Yu8Zx/hUYu8ex5CZMfYujVgtMvMvxdSiM3eaYBzcnxnF2Powd4XjoP0xviqPpliQ4m2MHTDzEUb4God7HIQku3rAcxq5wvB8NYxc41l99NJsRzD7wny1rAoTJ0OEoyPtCkAEqbj6nQhTGFts7iRHmzskTt7LCxJP2dULFmxyzmZLgfsxq2CQMU/NCejJUTYOD3yQrS5i4ZvRCdRg7zgHmhh5HqSW7BGDie+5UBsLY6gITYeY4xspckoGJH5kHM3+a49piQQmYeGsqzMw5jvvTomThbhaAqa9xvBK8E67eM/8pXE3JT5jeGQ4LzC054GrcO+FhxRYh0w0TN40/YMwNZb9jnwpVk+IIABOXxUM0AgAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAONo1s6w3X7Dg4Fhh8Oje4lMDGDQ4XhrWxKUPcVxLxeM7eE4/wqMneJYchOm3sdRqwUmHuP4OhTGdnHMg5vzwWF2PoJ96D9Mr4Cj6RaYOIcjxw6Y+AMH+ZokONvHAca+4dCwHMaWcLwfDWPzONZffTSbEcw+8J8tawIjzG2CvC8EGaDi5nMqRGFssb2TGGHunDxxKytMPGlfJ1TcwjGbCWa+jWNWwyZhmJoX0pOhajoc/CZZWcLE+UwWqsPYlekwNyQ4Si3ZJQAT33OnMhDGVheYCFVj4hgrc0kGJn5kHsz8Ese1xYISMPHWVJiZNY7706Jk4W4WgKnXcbwSvBOu3jP/KVxNyU+Y3hUOC8wtOeBq3Dvh4cAWIdMNEzeNP2DMDWW/Y58KVbPMEQBFXbwFNAIAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAHsZrZ1hu/2GRyXrDRdGtiQmBiDw1VnrcmsbhL177nKXuXsTFGHsmX8ezWYEcRgO/GfLmgBmWs1Z4iLI+0KQASpuPqdCFMYW2zsJrmbyxK2sMPGkfZ1w8WwmiF0gdlbDJmGYmhfSkyFWWXC7+k2ysoSJ85ksVIexK9MRbpBasksAJr7nTmUgjM39EqGm0vmSDEz8yLzJcPG1xYISMPHWVIT6/WlRsnA3CyDUXwneCVfvmf8UrqbkJ0RvoOVflwXmlhxwNe4I/7JFyHTDxE3jDxhzQ9nXH0wBq5lz44ELAIAkJRSYAQAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAHsZrZ1hu/2Gh1qDpCsjWxITAxAwNni5lJccVoaxZ/55NJsRxGE48J8tawIjTPzj0+eCDFDx8MMVojC22N5JcDWTJ25lhYkn7euEi2czIezKatgkDFPzQnoyRI1EtKvfJCtLmDifyUJ1GLsyHeEGqSW7BGDie+5UBsLY3C8RaiqdL8nAxI/MmwwXX1ssKAETb01FqN+fFiULd7MAQv2V4J1w9Z75T+FqSn5OgLt5gbklB1yNO8K/bBEy3TBx0/gDxtxQ9vUHU8Bq7p2ydgUAFaCAS4wBAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAHsZrZ1hu/2GRyVrhAsjWxITAxD46ui63NoGYe+eq+4yd2+CIow988+j2YwgDsOB/2xZE8BMqzkqLh+fPhdkgIqHH64QhbHF9k6Cq5k8cSsrTDxpXydcPJsJYheIndWwSRim5oX0ZIhVFt0ufpOsLGHifCYL1WHsynSEG6SW7BKAie+5UxkIY3O/RKipdL4kAxM/Mm8yXHxtsaAETLw1FaF+f1qULNzNAgj1V4J3wtV75j+Fqyn5CdEbaFnrssDckgOuxh3hX7YImW6YuGn8AWNuKPv6gylgNXNuJLgAAGnPv7WYAQAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAHsZrZ1hu/2GBwMQVFSpqjFAwcw/j2YzglkH/rNlTWCEiX98+lyQASoefrhCFMb+MXUSXM3GHVtZYeLG0zvh4g1MSUwwdsvyTcIwNS+kJ8PV+E2ysoSJ85ksVIexEx0QbpBesksAJn6ZuSoQxuZ+iVBT6XxJBiZ+ZB7C/LXFghIw8Sw7hPpbvVGyMPEkAYT6K8E74eo985/C1ZT8ROhdYG7JARPXV0D4V6Fephsmbhp/wJgbyr7+YApcDQAfShE0gAEAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEALtpop1hu/2GBwODldNf1iQmBjAwceqefVgZxp7559FsRjD7wH+2rAkQJoOD08enzwUZoOLhhytEYewfUydB1dg4bdyxlRUmbjy9Ey7ewASzy8apZfkmYZiaY19gej2cCnZaWcLE+UwWqsPYiQ4IN0gv2SUAE7/MXBUIY3O/nAC3q9L5kgxMfEX5ZKi4hdPJWYISMPEsuwlw8Vu9UbIwcc+Xk+B2va3aCVfvmf8Urqbk5wS4mxeYW3LAxPUVYP51cVKol+mGiZvGHzDmhrKvP5gCVZPhBAAog6yajAEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPv++nCG7fYbHlbODxw8FJOYGICghOe2g6AuhC314a7DrAAIe5fTXYfPWyFso5N3HO46Q9hKqXccFKwg7GkVtx1uLYawBRxvO/xvg7BfNN52ePAyEczW2XHbwRxqvsTBOw5cCyDskBN3HJrPQNjr0u84PHwAUb/p+B2Hi1DzhZjvOhRA3SPgf9fhchmEnfb1jsO5CMfZjCAOw4H/IcVVwgxQ9pW2SlEY22WTOzuMbbZOA6x3Tsxnh1WxUL8XfHG48UMYrveuxVkrGFvWZKE6jL0zUR+sfo/RF4dXF6QFYOLdfZWBMHZ6uwFYzaOKjw6Bn41kYOK3lxiBxeOMPjmcNCkUh4nr67yRg7GNdxiC1Vxx/+BwJlZKAiZ+VeWxLIxtsABizoZd7x240mbC/VX3dmkPjD3xygFjbigbAHIh0yXsAQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPv++nCG7fYbHvHb+Rw9FJOYGIDgUJCgo6AuhP3+Ab/jrAAIe765gOPnrRB2comA411nCDt7mYCjghWEvVFG0PHWYgi7xELQ8X8bhM0hIej44GUimP3sj4CjOdT8ggoBR64FEPYloJnNZyBs1aUCjg8fQNQrlwo4XoSaXxwu4FgAdU+JoYDj5TII2zNOwPFchONsRhCH4cD/kOIqYQYoe098pSiM7bXJnR3G9riqAda7TovVcVUs1O8LWBxv/BCG671rcdYKxpY1WagOY+9M1Aern7efxfHVBWkBmHhZemUgjF2zzgCspluGzTHws5EMTPz2EiOw+Nn9rI4nTQrFYeL6Om/kYGzjHYZgNUJb2RzPxEpJwMSvqjyWhbENFkDMWfKbzZErbSbcX3Vvl/bA2BOvHDDmhrIBtfckIOwBAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPv++nCG7fYbHisZEpw8FJOYGIBAWyLFSVAXwt56OdFpVgCEfSQ6yenzVghbZXeS011nCHsNZ7KTghWE7Xc42enWYgj70btkp/9tEPa/3clOD14mgtnpE5OdzKHmNxxMcuJaAGFfAprZfAbCXs2e7PTwAUR90J4kp4tQ83f2JjkVQN0jGpTkdLkMwi6ekeR0LsJxNiOIw3Dgf0hxlTADlL0nvlIUxvba5M4OY3tc1QDr7WMOdFoVCzFHRDvA6cYPYbjeuxZnrWBsWZOF6jD2zkR9sPqW6ACnVxekBWDiZemVgTB2zToDsBq9+iCnwM9GMjDx20uMwOJz3wY6nTQpFIeJ6+u8kYOxjXcYgtVMyQt2OhMrJQETv6ryWBbGNlgAMSfibrATV9pMuL/q3i7tgbEnXjlgzA1lAwCzstZc7AEAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAPv++nCG7fYbHu297a4eiklMDEDQGdrhKqgLYdfPb3GdFQBhN5i2un7eCmH3Pe10vesMYVf9bnJVsIKwH92rd721GMKuDm12/d8GYRcpNrg+eJkIZu/ZV+RqrosQ51oAYR+TKnNtPgNhF7c2uD58AFHfdLrV9SLU/ON1Za4FUPc0zWx1vVyGcI+Uu8NsRhCH4cD/0OIqYQYo+2ZbpSiMrd/tzg5j/3ymCdZ7c2mz66pYiDmXlje6qj8Xgus9LnjWCsY2j16oDmOnFRuA1We97nBVnCElABOf1FcZCGNrHjAEqxFq6nRd9tBQBibets0YLH4EqPfVlXxxmHhs1Rs5GPvJSSOwml1At0n6SErAxPf+fSQLY/++ATFnn3+na0jIDLi/so4t7YGxV/0+YMwNZQMA/X9h3+wBAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAPv++nCG7fYbHoGqnQ4eiklMDEAQ9KvQQVAXwm5RM3WYFQBhL6iSdPi8FcLedFjd4a4zhL1aUdlBwQrCPr9Z3+HWYgjbIErG4X8bhF3Ywubw4GUimB2V/MLeHGp+VzGzA9cCCHvLgU/2zWcgbDPhC/YPH0DUr7C7a38Rav6Uk1ftC6Duibv+xP5yGYT9+Yq6g5S7w2xGEIfhwP/Q4iphBij7ZlulKIyt3+3ODmP/fKYJ1qu8odlhVSzEnNc2nQ7qz4Xgeo8LnrWCsc2jF6rD2GnFBmD1a5MyHBRnSAnAxCf1VQbC2JoHDCF+fOjosOyhoQxMvG2bMVj8q2akw6sr+eIw8diqN3Iw9pOTRmA1yQfzHSR9JCVg4nv/PpKFsX/fgJij/TXCwUp3BtxfLW+X9sDYq34fMOaGsgHNFzq87AEAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAPv++nCG7fYbHu297a4eiklMDEDQGdrhKqgLYfdt7nSdFQBhN5i2un7eChV/2ul61xnBVrCCsB/dq3e9tRjC7vfscv3fBmEXKTa4PniZCGbvuVTkaq6LEOdaAGEfkypzbT4DYRe3Nrge3glRf2ddrev7RIj48boy1wKoe5pmtrpeLkO4QcrdYTYjiMNw4H9ocZUwA5Q9QbBSFMauYPBgh7F/PtME671R3Oy6KhZizqv2DlfeA0JwvQ8tzlrB2ObRC9Vh7LRiA7D6rNcdroozpARg4pP6KgNhbM0DhmA136c3uS57aCgDE2/bZgwWX8fY5Hpubb44TLxy4Rs5GPvJSSOwGrfuSldJH0kJmPjev49kYezfNyDm7JPtdLXSnQH3V8vbpT0w9qrfB4y5oWwAm3uTnewBAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAPv++nCG7fYbHvteLHXwUExiYgCCDXeWOgjqQtjz5gc6zAqAsM/m2zt83gpha5vkONx1hrAd37k5KFhB2H01Hg63FkPYCVEmDv/bIGz7k7wOD14mgtkeqYwO5lDzlfw1HLgWQNhXZVQcms9A2Na93+0P74So//eb3eF9IkR8/uWv9gVQ99xbwelwuQzCfsBY6yDl7jCbEcRhOPA/tLhKmAHKniBYKQpjVzB4sMPYP59pgvW6689wWBULMWeXyEIH3gNCcL0PLc5awdjm0QvVYey0YgOw+nOVfQ6KM6QEYOKT+ioDYWzNA4ZgNWV9uQ7LHhrKwMTbthmDxQ+aNzmcW5svDhOvXPhGDsZ+ctIIrObS8mYHSR9JCZj43r+PZGHs3zcg5qxlrXCw0p0B91fL26U9MPaq3weMuaFsAJKx/MzsAQAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAPv++nCG7fYbHu297a4eiklMDEDQGdrhKqgLYfdt7nSdFQBhN5i2un7eChV/2ul61xnCrvrd5KpgBWHv4ipyvbUYwu737HL93wZhFyk2uD54mQhm79lX5GquixDnWgBhH5Mqc20+A2EXtza4Ht4JUd90utX1fSJE/HhdmWsB1D1NM1tdL5ch3CPl7jCbEcRhOPA/tLhKmAHKLnpVIQpjT1P3YIexfz7TBOu9UdzsuioWYs6r9g5X3gNCcL3HBM9awdhBTQvVYey0YgOw+qzXHa6KM6QEYOKT+ioDYWzNA4ZgNUJNna7LHhrKwMTbthmDxY8A9e5vyxeHiXeceCMHYz85aQQJz6XNrpI+khIw8b1/H8nC2L9vQMzZJ9vpOll6OtxfIjeW9cDYy34fMOaGsgEnkn4g7AEAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAPv++nCG7fYbHkedFzp4KCYxMQBBiO4+B0FdCNuKNdRhVgCErZCm7vB5K4R9zzna4a4zhL3O1tRBwQrCnhdi7HBrMYS96ZGUw/82CHvfZA6HBy8Twew2i3/25lDza5SlHLgWQNjtmkIOzWeg5uj8tj+8E6Ke05jR4X0iRHyP2h/7Aqh7ZolxOFwug7C//i1wkHJ3mM0I4jAc+B9aXCXMAGUXvaoQhbGnqXuww9g/n2mC9Z74v9BhVSzEnGfrZjvwHhCC6z0meNYKxg5qWqgOY6cVG4DVP9ne46A4Q0oAJj6przIQxtY8YAhWM31/jkPfLkMZmPi8u8Zg8bDiTof9bfniMPGOE2/kYOwnJ43Aatz9ZjlI+khKwMT3/n0kC2P/vgEx59fXRofJ0tPh/hK5sawHxl72+4AxN5QNAN5sYD7sAQAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAPv++nCG7fYbHu297a4eiklMDEDQGdrhKqgLYdfPb3GdFQBhN5i2un7eCmH3Pe10veuMYCtYQdi7uIpcby2GsPs9u1z/t0HYt57VuD54mQhmV7c3u5pDzS9SbHDlWgBhH5Mqc20+A2E3nW51PbwTov7OulrX94kQ8W1pBa4FUPc0zWx1vVyGcIOUu8NsRhCH4cB/vn+VwgxQ9s74SlEYe5q6BzuM/fOZJljvjeJm11WxEHMuLW905T0gBNd7TPCsFYwd1LRQHcZOKzYAq8963eHKXSglABNfsbUyEMbWPGAIViPU1Onat8tQBiY+764xWPwIUO+C+HxxmHh41Rs5GNvEHqJm19JmV0ZVSQmYeFHHI1kYO67UBKxmn2yna/mXaXB/Gfxf1gNjL/t9wJgbygYAVsxheuwBAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAPv++nCG7fYbHttfHnLwUExiYgCCtyb7HQR1IewXB9odZgVA2K+nZTp83gphNyjnO9x1hrBvPMtyULCCsPkvpTvcWgxhV86KdvjfBmGrzVFxePAyEcwWMBJ3MIeaf/2+uQPXAgi7Q8fCofkMhN0+97f94Z0Q9QHPGRzeJ0LEm9b8si+AumfOWTGHy2UQtvOmSAcpd4fZjCAOw4H/fP8qhRmg7J3xlaIw9jR1D3YY++czTbDeTRNWOKyKhZiz4sIOB94DQnC9xwTPWsHYxtEL1WHs1lkGYPXT5s5x4C6UEoCJr9haGQhjax4wBKuJUmtz6NtlKAMTn3fXGCweIzXfYUF8vjhMPLzqjRyMbWIPUfOufrMDo6qkBEy8qOORLIwdV2oCVsM3p8Oh/Ms0uL8M/i/rgbGX/T5gzA1lAwBl5reV7AEAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAPv++nCG7fYbHu297a4eiklMDEDQGdrhKqgLYfdt7nSdFQBhN5i2un7eChV/2ul61xnBVrCCsB/dq3e9tRjC7vfscv3fBmHfelbj+uBlIkS8usvVHGp+kWKDK9cCCPuYVJlr8xkIu+l0q+vhnYlw9vtEiPi9pDrXAqh7mma2ul4ug7CrPja5Srk7zGYEcRgO/Of7VynMAGXvjK8UhbFrGDzYYWxhPi2w3ptLm11XxULMedXe4cp7QAiud82rM1Ywtm/TQnUYu3WWAVh91usOV+5CKQGY+NS+ykAY2+a5IViNUFOna98uQxmY+Ly7xmDxI0C9C+LzxWHi4VVv5GBsE3uImp3Fza6MqpISMPGijkeyMHZcqQlYzT7ZTtfyL9Pg/jL4v6wHxl72+4AxN5QNAAisGQLsAQAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAPv++nCG7fYbHjxvWxw8FJOYGIDAmjvFQVAXwt5WYuAwKwDCfq0h4/B5K4R956Oaw11nCNukWMlBwQrC9n2h4HBrMYTtGSPr8L8Nwj4b+8f+wctEMLvj0i17c6j5PMWcDlwLIOyHbxkdms9A7X10yP7wToj6rorT9u8TIeJrUo/YF0DdM2vJM/vLZRB2wAx5ByYFh9mMIA7Dgf9qqlXCDFD2zvhKURi7hsGDHcYW5tOC2MtY4rAqFurOXWUOvAeE4HrXvDpjBWP7Ni1Uh7FbZxmA1UfsTXHgLpQSgIlP7asMhLFtnhuC1XziNnbo22UoAxOfd9cYLO7kkOiwID5fHCYeXvVGDsY2sYeoiVta4sCoKikBEy/qeCQLY8eVmoDVJGx1cij/Mg3uL4P/y3pg7GW/DxhzQ9kAZSs2oOwBAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAPv++nCG7fYbHu372109FJOYGICgM7TDVVAXwu7b3Ok6KwDCbjBtdf28FSr+tNP1rjOCrWAFYe/iKnK9tRjC7vfscv3fBmE3pre6PniZCGZXz252NYeaX6TY4Mq1AMI+JlXm2nwGwr6zrtb18E6I+qbTra7vEyHi95LqXAug7mma2ep6uQzhBiYFh9mMIA7Dgf9qqlXCDFD2AotKURh7qroHO4wtzKcF1ntzabPrqliIOZeWN7ryHhCC613z6owVjO3btFAdxm6dZQBWn/W6w5W7UEoAbn5fZSCMbfPcEKxGMKDTtW+XoQxMfN5dY7D4UdlO1yaLfHGYeELVGzkY2zMNomaHY7Mro6qkBEw8PPGRLIxdOccErGYf0JzyL9Pg/vq3YVkPjH1I6aAxN5QNAKLAOqzsAQAA" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAPv++nCG7fYbHtcmdzl4KCYxMQABx9p2B0FdCNvmkqXDrAAIu99H2uHzVgj7iLmWw11nCFv8p7yDghWEbX9W2uHWYgj7l5SGw/82CPvDlN/2D14mgtlV/I/szaHmN6SwOnAtgLDfruR2aD4DYU8wuGh/eCdEfWnZFfv3iRBxO5eL9gVQ91gpPbO/XAZhL6/SdmBScJjNCOIwHPivplolzABlL7CoFIWxp6p7sMPYwnxaYL0XRMsdVsVCzOHXLnT4NUMIrne/4FkrGNu3aaE6jN06ywCsXqAjw4G7UEoAbn5fZSCMbfPcEKzmspGhQ98uQxmY+Ly7xpAw/BDq0GSRLw4TT6h6Iwdje6ZB1Mxijnd49ldCAiZe1PFIFsaunGMCVrPzsatD+ZdpcH/927CsB8Y+pHTQmBvKBgCrLkxv7AEAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAPv++nCG7fYbHlLrXzh6KCYxMQDBhuqnjoK6EHbLplmOswIg7HnaLY6ft0LYMh+nOt51hrAlpnQ6KlhB2JMZuxxvLYawFaY2Ov5vg7D3xPo7PniZCFEz1crRHGp+inqyI9cCCPtwVKxj8xmoen8tx4cPIOq9tY0cL0LN92HWdiyAuocn3MHxchmE7RA83fHFD/vZjCAOw4H/4v8qhRmg7E3xlaIw9lR1D3YYW8tUC6z33b9rjqtiIeZwbLzjeLtQCK73uOBZKxjbt2mhOow956ABWP2VFUccP3tKCcDEp/dVBsLYQXxGYDVJ0xc6lk82lIGJb2Uxgfhxzx7HXMF8cZh4etUbORg7vNcYrObsqTOOl69JSMDEczoeycLYkw5DzGG4vtYx7uw0uL9+bljWA2MfVjpozA1lAwBY+JU27AEAAA==" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAPv++nCG7fYbHtUa7k4eiklMDEAg4uXiJKgLYcd6aDjNCoCwrzEqOH3eCmEX71Z3uusMYZ86q+SkYAVhf9WWd7q1GMKe4yjh9L8NwmbI4XN68DIRzFa8weVkDjW/REzAiWsBhH05nc+p+QyErWTH7HR4J0T9hDUcTu8TIeJTu3mdCqDuSZ4t6nS5DMIOfq7t9OKH/WxGsGUH/ov/qxRmgLI3xVeKwthT1T3YYWwtUy2w3jMT7ZxWxULM6Sm0c7pdKATXe1zwrBWM7du0UB3GnnPQAKz++k4Tp8+eUgIw8cL0ykAYu8LUCKwmMU/LqXyyoQxMfCuLCVh8/WY7p8BXeeIw8eaFb+Rg7PBeY7Aa7532TpevSUjAxHM6HsnC2JMOQ8xZI2rmFHd2GtxfPzcs64GxDysdNOaGsgEmGVmp7AEAAA==" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPv++nCG7fYbHgwNxU4eiklMDCDgkOwkqAtlM4Q7zQqAscOcPm+FsVOc7jpD2Q0hTgpWMPEIp1uLYeK+Tv/bYGY6Oz14mQhV4+VkDjPfwc2JawFMvbtT8xkY29/p8E6o+gNuTu8ToeIHbJ0KYO5xcHC6XAazN9jp/EX72YwQRf95/1UKM0DZe+MrRWHsCeoe7DC2e4wW1MxEp1WxMPOznW4XCsH1bnp1xgrG9mpaqA5jb3lhAFWf7PRASUoAJt7SVxkIY1eYGkHdFuIUnWMoAxO/qG0C1RvnFPgqTxwmnlD1Rg7GrtpiDFUT77RjvYQEXLzjkSyMPf8VzJw0J/dl0+D+Yti4rAfG3qp00JgbygYAOGtWm+wBAAA=" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPv++nCG7fYbHgwPGp08FJOYGEBAoNlJUBfKbqhxmhUAZQPVfN4KZSe0ON11hrId2pwUrKDsA6VOtxZD2Qq5Tv/bYGrKnR68TISyE53MYeYnpDpxLYCpSXNqPgMzp9Dp8E6oeoZUp/eJMPEgpwKYexYkOl0ug7IZkp3OX7SfzQhR9J/3X6UwA5S9N75SFMaeoO7BDmO7x2hB3dnltCoW5oZGp9uFQnC9m16dsYKxvZoWqsPYW14YQNQHtDk9UJISgIm39FUGwtgVpkYQNRs6naJzDGVg4he1TSDiBu1Oga/yxGHiCVVv5GDsqi3G0PBvc9qxXkICLt7xSBbGnv/KBG6++7JpcH8xbFzWA2NvVTpozA1lAwCaGPlA7AEAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAPv++nCG7fYbHlXKzY4eiklMDECwraPWUVAXwmZwYHacFQBhd/HPcfi8FcJ+NP+4w11nmJqtDgpWUPaBgw63FkPZDCcc/rfB2fYPXiZC2A3WDuZQ83+d6XTgWgBhKwg2OzSfganXdzi8E6JeoTnE4X0i3By7ggAYe7395TIY+6GDQLf1bEaII/5z/6sUZoCy98ZXisLYDptt2GHsCHErsN5vfQsdV8VCzPGL6XHcFMkF1yuz54IVjH1lw1x1GPslgyVYfdC2JseVXEICMPHv8bWBMLZNjRlYzcefDo6zVXVlYOITiyzA4q7TXBwvb0sTh4nLpn+Qg7Gtf5uD1bgtbnL8kSEiARMv63gkC2MnG0LccOdOrCNnZR/cX/XTV/XA2NuVDhpzQ9kANQqQHewBAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAPv++nCG7fYbHilGpx09FJOYGIAgL2Wro6AuhH1ayNVxVgCEfeYnh+PnrRA2Q4O1411nKPsAv6OCFYSdqWLheGsxhN3y6rjD/zYI2+3nbIcHLxPB7D3RzQ7mUPOVv/I7ci2Aqml/4NB8BsLuc5jgcHgnRP0JIzGH94kQ8Qlz19kXQN2zZMED+8tlUDcwJDoKdFvPZoQ46D/3v0phBih7b3ylKIztsNmGHcaOELcC693QvstxVSzUHIdzjpsiueB6ZfZcsIKxr2yYqw5jv2SwBKufcW2p40ouIQGY+Pf42kAY26bGDKzmSHWS42xVXRmY+MQiC7B47eYex8vb0sRh4rLpH+RgbOvf5mA13x0nOv7IEJGAiZd1PJKFsZMNIW7YYtLpyFnZB/dX/fRVPTD2dqWDxtxQNgDa1DXG7AEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAPv++nCG7fYbHu8dNjl6KCYxMQDByoK3joK6ELbmTz3HWQEQtltlv8PnrRD2ps38jnedIWyGhisOClYwNQcdbi2GsB/NX+fwvw3C3vaC0+HBy0QwW4H5l7051PyAorkOXAsgbKarCQ7NZyDs1lVuDod3QtT3Mix2eJ8IET+yX9GhAOqeItMkh8tlEHaFqo2jQLf1bEawgw785/5XKcwAZe+NrxSFsR0227DD2BHiVmC9l6Z+clwVC/XLhs2Os4y44HpNHl+wgrGvbJirDmO/ZLAEq9eN2OG4kktIACZ+z6I2EMYOXWwGVuNRku04W1VXBiY+scgCLO5iOtPx8rY0cZi4bPoHORjb+rc5WE3+p5WOPzJEJGDiZR2PZGHsZEOIG24cn+LIWdkH91f99FU9MPZ2pYPG3FA2AM/cZmLsAQAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAPv++nCG7fYbHlF/Xzl6KCYxMYDAhEeOgroQNv8sP8dZARD2Dx4nx89bIWx1sxDHu85Q9QwejgpWULaCt+OtxTB2reP/Nii7YZHDg5eJUPUnHMyh5u/N/+rAtQDCVtv2wKH5DIT9ZGK/w+GdMPUeDu8TIeIT5v60L4C6h+HACofLZVD1M0wdBbqtZzNCJP5z/6sUZoCy98ZXisLYDptt2GHsCHErsN7q4yccV8VCzRR47zjLiAuu1+TxBSsY+8qGueow9ksGS4i957Y6ruQSEoCJ37OoDYSxQxebgdWw/WtynK2qKwMTn1hkARb3FtjmeHlbmjhMXDb9gxyMbf3bHKxmz/enjj8yRCRg4mUdj2Rh7GRDiBvqdFc5clb2wf1VP31VD4y9XemgMTeUDQAgnhPY7AEAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAPv++nCG7fYbHkzBUxw9FJOYGIDgzbpAR0FdCJthAY/jrAAIW8F0msPnrVDxht0Od52hbIetDgpWEPYJh3MOtxZDxQ/0O/xvg7IZquwfvEyE6uV0MIeaP6Gx04FrAUyNvkPzGRh7mv3hnRD1Cqer7N8nwsTF7Aug7omctsH+chlcvYNAt/VsRojF/7n/VQozQNl74ytFYWyHzTbsMHaEuBVY7zOBDsdVsRBz1L/VO84y4oLrNXl8wQrGvrJhrjqM/ZLBEqw+6X6R40ouIQGY+D2L2kAYO3SxGVhNxDctx9mqujIw8YlFFmDxs5O9HC9vSxOHicumf5CDsa1/m4PVWG6c4vgjQ0QCJl7W8UgWxk42hLihKNjYkbOyD+6v+umremDs7UoHjbmhbAC8v/cu7AEAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAPv++nCG7fYbHru5Zjh6KCYxMQDBlDNzHQV1IWzJNGbHWQEQdvShgw6ft0LYKQoMjnedIWwGhocOClYQ9p6X6xxuLYaKNyg5/m+DsE9sUnJ48DIRKh7iYA41f1pxswPXAqiZ6bsdms9A1ftZOxzeCVE/oVHJ4X0izK4T9gUBMPM5HS6XQdibhBkcBbqtZzOCJQ785/5XKcwAZe+NrxSFsR0227DD2BHiVmC9Yfd6HFfFQszxs+l0nGXEBddr8viCFYx9ZcNcdRj7JYMlWP3vAzWOK7mEBGDi9yxqA2Hs0MVmYDXfJzE6zlbVlYGJTyyyAIvv25nmeHlbmjhMXDb9gxyMbf3bHKxGcVOp448MEQmYeFnHI1kYO9kQ4oZJhY6OnJV9cH/VT1/VA2NvVzpozA1lAwB7x3W07AEAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAPv++nCG7fYbHgEr1jl6KCYxMQDBtPI1joK6EHbEcmXHWQEQ9pLpNx0+b4WwOfUFHO86Q9irXn13ULCCsHdMZnC8tRjCvq/A6Pi/DcJeHW7u8OBlIph9816MgznUfJG32xy4FkDYaa4LHZrPQNjr3ns6HN4JUW+53NLhfSJE/NjJTfYFUPdcfKTicLkMwo7aIe74O9l6NiOIw3Dgv4JqlTADlL3ColIUxjbbbMMOY5fbWYH1dghsclwVCzHH8/Bqx1lGXHC9UnsuWMHY767PVYexXzJYgtVvOjDdcdJjQQGY+Nf42kAYO3SxGVjNk+dejjX/dGRg4htmWoDFL19sdry8LU0cJi6b/kEOxrb+bQ5xz5O5jj8yRCRg4mUdj2Rh7GRDiBv+aVQ7clb2wf2VWbCqB8Y+63nQmBvKBgBFO6pW7AEAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>